@import "../../styles/base.scss";

.button_group {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid #E6E6EB;
  margin-top: 50px;
}

button {
  display: flex;
  align-items: center;
  height: 46px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  border-radius: 8px;
  border-width: 0px;
  padding: 0px;
}

.prev {
  justify-content: center;
  width: 174px;
  font-weight: 500;
  line-height: 17px;
  background-color: transparent;
  color: #000000;
}

.next {
  justify-content: center;
  width: 174px;
  font-weight: 500;
  line-height: 17px;
  background: var(--pink);
  color: #FFFFFF;
  margin-left: auto;
}