@import "../../styles/base.scss";

h3.form_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.form {
  width: 100%;
}

.form_body {
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.input_group {
  max-width: 60%;
  flex-grow: 1;
  margin-top: 24px;
}

.input_label {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: var(--input-label);
  margin-bottom: 8px;
}

.input_info, select {
  color: var(--select-true);
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 12px 16px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: transparent;
  -webkit-appearance: none;
  width: 100%;
}

.radio_group {
  max-width: 60%;
  position: relative;
  display: flex;
  justify-content: unset;
  padding: 11px 20px;
  margin-top: 24px;
  cursor: pointer;
}

.radio_input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  align-self: center;
}

.radio_box_border {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  border: 1px solid #2A2A2A;
}